.blog {


    &__container {
    display: grid;
    grid-gap: 2rem;


    @include largeTablet {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    }
}

    &__main {
        display: grid;

        @include tablet {
            grid-template-columns: 1fr 2fr;
        }

        @include largeTablet {
            grid-template-columns: 1fr;
        }
    }


    &__aside {
        // height: 90vh;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 2rem;

        & .blog__img { 
            width: 100%;

            @include largeMobile {
                width: 35%;
        }
    }
}

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include largeMobile {
            flex-direction: row;
        }
    }

    &__img {
        border-radius: 20px;
    }

    
}