.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../../../assets/images/header-medium-small.jpg") no-repeat center/cover;
    color: #fff;
    overflow-x: hidden;

    @include largeTablet {
    height: 110vh;
    }

    &::before {
        @include pseudo;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
    }

    //  Header Content -------------------

    &__content {
        position: relative;
        margin-top: 3rem;
        top: 5rem;

        @include largeTablet {
        top: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 36%;
    }
}

    &__title {
        font-size: 2rem;
        margin-bottom: 2rem;


        @include largeMobile {
            font-size: 3rem;
        }


        @include largeTablet {
        font-size: 4rem;
        letter-spacing: 2px;
        font-weight: 600;
        line-height: 1.2;
        }

    }

    &__txt {
        font-size: 1.1rem;
        margin-bottom: 2.5rem;

        @include largeMobile {
            font-size: 1.2rem;
        }


        @include largeTablet {
        font-size: 1.3rem;
        line-height: 1.3;
        letter-spacing: 1px;
        }
    }
    
    
}

.logo {
    z-index: 999999;
}

//  Navigation -------------------------

.nav {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
    align-items: center;
}

.menu {
position: absolute;
width: 100%;
height: 100vh;
right: 0;
top: 0;
transform: translateX(100%);
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
background-color: rgba(0, 0, 0, .9);
transition: .4s ease-in-out;
z-index: 9999;

&--active {
    transform: translateX(0);
}

    @include largeTablet {
    position: static;
    transform: translateX(0);
    width: auto;
    height: auto;
    flex-direction: row;
    background-color: transparent;
    }

    &__item {


        @include largeTablet {
        margin-left: 1.5rem;
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        z-index: 9999;

        &::after {
            @include pseudo;

            top: 10%;
            left: 0;
            width: 50%;
            height: 80%;
            border-radius: 10px;
            background-color: rgba($brown-color, .5);
            transform: scale(0);
            transform-origin: top;
            transition: .3s ease-in-out;
            z-index: -1;
        }

        &:hover::after {
            transform: scale(1);
        }
    }
}


// Burger - Mobile menu icon ----------------


.burger {
    position: absolute;
    top: 2.6rem;
    right: 2rem;
    width: 26px;
    height: 26px;
    z-index: 99999;
    cursor: pointer;

    @include largeTablet {
        display: none;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 26px;
        height: 3px;
        background-color: #fff;
        transition: .3s ease-in-out;
    

    &::before, &::after {
        @include pseudo;
        background-color: #fff;
        width: 26px;
        height: 3px;
        transition: .3s ease-in-out;
    }

    &::before {
        top: -12px;
    }

    &::after {
        top: 12px;
    }
}


    &--active .burger__icon {
        transform: translateX(-26px);
        background-color: transparent;
    }


    &--active .burger__icon::before {
        transform: translate(26px, 12px) rotate(45deg);
    }

    &--active .burger__icon::after {
        transform: translate(26px, -12px) rotate(-45deg);
    }

}


//  Search ---------------------

.search {
    display: none;

    @include desktop {
    display: inline-block;
    position: absolute;
    bottom: 8%;
    color: $brown-color;
    }

    &__title {
        font-size: 1.6rem;
        width: 200px;
        padding: 1rem;
        text-align: center;
        background-color: #fff;
        border-bottom: 1px solid $gray-color;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &__content {

        display: flex;
        background-color: #fff;

        @include largeTablet {
        padding: 1rem;
        background-color: #fff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        margin-left: 1rem;
    }

    &__label {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: .8rem;
        color: $brown-color;
    }

    &__input {
        width: 240px;
        padding: .6rem 1rem;
        font-size: 1.1rem;
        letter-spacing: 1px;
        border-radius: 10px;
        border: 2px solid $gray-color;
        outline: none;
        color: black;
        

        &::placeholder {
            color: black;
            font-weight: 500;
        }

        &:focus {
            background-color: rgba($brown-color, .1);
            color: black;
        }
    }

    &-btn-container {
        align-self: center;
    }

    & .btn {
        align-self: flex-end;
        margin: 0 1.5rem .9rem;
    }
}