// font-family: 'Montserrat', sans-serif;
// font-family: 'Playfair Display', sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
}

img {
    width: 100%;
    // max-width: 100%;
    // height: auto;
}

.wrapper {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    @include largeTablet {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    }

    &--relative {
        position: relative;
    }
}

//  Button ------------------------------

.btn {
    display: inline-block;
    padding: .8rem 2.6rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: white;
    background-color: $brown-color;
    border-radius: 25px;
    border: none;
    cursor: pointer;

    &--small {
        padding: .7rem 2.2rem;
        font-size: 1rem;
    }

    &--till-desktop {
        

        @include desktop {
            display: none;
        }
    }

    &:hover {
        background-color: darken($brown-color, 10%);
    }
}

.logo__content {
    font-size: 1.9rem;
}