.generic-content-container {

    &--centered {
        text-align: center;
    }

    &--margin-left-from-largeMobile {

        @include largeMobile {
        margin-left: 2rem;
        }
    }


    &--margin-left-tablet {

        margin-left: 0;
        
        
        @include tablet {
            margin-left: 2rem;
            }

        @include largeTablet {
            margin-left: 0;
            }
    }


    & p {
        font-size: 1.1rem;
        line-height: 1.3;
        color: $gray-color;
        letter-spacing: 1px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    & a {
        color: $brown-color;
        font-size: 1.3rem;
        // font-weight: bolder;
    }
}